<p-toast position="center"></p-toast>

<div class="pnl-content p-3">
  <div class="box">
      <div class="row justify-content-center">
          <div class="col-lg-12 col-sm-12 align-items-center">
              <ul class="list-inline panel-breadcrumb">
                  <li class="list-inline-item pointer" [routerLink]="['/']">پنل ادمین</li>
                  <li class="list-inline-item current" [routerLink]="['/']">ویرایش مشخصات</li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="pnl-content p-3">
  <div class="row no-gutters">
      <div class="col-lg-12">
          <div class="box text-right">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="row align-items-center">
            <div class="col-lg-3 col-sm-12 mb-3">
              <label class="form-label">شماره همراه</label>
              <input type="text" placeholder="شماره همراه" pInputText formControlName="mobile" />
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
              <label class="form-label">نام نماینده</label>
              <input type="text" pInputText placeholder="نام نماینده" formControlName="fullName" />
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
              <label class="form-label">تلفن ثابت</label>
              <input type="text" pInputText placeholder="تلفن ثابت" formControlName="phone" />
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
              <label class="form-label">ایمیل</label>
              <input type="text" pInputText placeholder="ایمیل" formControlName="email" />
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
              <label class="form-label">نام شرکت</label>
              <input type="text" pInputText placeholder="نام شرکت" formControlName="companyName" />
            </div>
            <div class="col-lg-3 col-sm-12 mb-3">
              <label class="form-label">کد پستی</label>
              <input type="text" pInputText placeholder="کد پستی" formControlName="postalCode" />
            </div>
      
            <div class="col-lg-6 col-sm-12 mb-3">
              <label class="form-label">آدرس</label>
              <input type="text" pInputText placeholder="آدرس" formControlName="address" />
            </div>
            <div class="col-lg-12 text-center mt-5">
              <p-button type="submit" [disabled]="!form.valid" label="ثبت"></p-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>