.gallery {
  direction: ltr;
  margin-top: 30px;
}

.gallery h1 {
  font-family: IRANSans_Bold !important;
}

.gallery img {
  max-width: 99%;
  border-radius: 10px;
}

:host::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #20b66f;
  border-radius: 20px;
  margin-top: 15px;
}

:host::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  border-radius: 20px;
  margin-top: 15px;
}

::ng-deep .p-carousel .p-carousel-header {
  margin-bottom: 15px;
  font-family: 'IRANSans_Bold' !important;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  background-color: #f3f3f3 !important;
}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  background-color: #f3f3f3 !important;
}