<div class="pnl-content p-3">
    <div class="row no-gutters">
        <div class="col-lg-12">
            <div class="box">
                <div class="row no-gutters justify-content-center">
                    <div class="col-lg-12 col-sm-12 align-self-center">
                        <ul class="list-inline panel-breadcrumb">
                            <li class="list-inline-item pointer" [routerLink]="['/']">پنل ادمین</li>
                            <li class="list-inline-item current" [routerLink]="['/']">صفحه اصلی</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row support">
    <div class="col-lg-3 col-md-6 mt-1">
        <a class="support-item" routerLink="/admin/orders">
            <i class="pi pi-shopping-bag"></i>
            <div class="text">
                <h5 class="purecounter">لیست سفارشات</h5>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-6 mt-1">
        <a class="support-item" routerLink="/admin/users">
            <i class="pi pi-user-edit"></i>
            <div class="text">
                <h5 class="purecounter">لیست کاربران</h5>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-6 mt-1">
        <a class="support-item" routerLink="/admin/faqs">
            <i class="pi pi-question-circle"></i>
            <div class="text">
                <h5 class="purecounter">سوالات متداول</h5>
            </div>
        </a>
    </div>



    <div class="col-lg-3 col-md-6 mt-1">
        <a class="support-item" routerLink="/admin/config">
            <i class="pi pi-database"></i>
            <div class="text">
                <h5 class="purecounter">مدیریت ادمین</h5>
            </div>
        </a>
    </div>

</div>