<section id="about" class="container wow fadeInUp" data-wow-delay="0.9s">
    <div class="row align-items-center">
        <div class="col-lg-5 text-center">
            <img class="img-fluid" src="../../../../assets/images/innovation-animate (3).svg" alt="">
        </div>
        <div class="col-lg-7">
            <h1 class="text mb-2">درباره خرم گستر الکترونیک</h1>
            <p>
                شرکت دانش بنیان خرم گستر الکترونیک با ایده محوری تولید بُرد الکترونیکی با دقت یک دهم میلی متر به صورت کاملاً اتوماتیک و صنعتی در سال 98 تاسیس شده است. خرم گستر الکترونیک در پارک علم و فناوری لرستان مرکز رشد واقع شده است و دارای دو سالن توليد مجهز به مدرن ترين ماشين آلات انواع تجهيزات تمام مکانيزه و آزمايشگاه های کنترل و بازرسی مواد اوليه و محصول جهت توليد بر مبناي استانداردهای ملی و بين المللی می باشد. برخی از فعالیت های شرکت توليد محافظ برقی لوازم برقی خانگی، لامپ LED،برد مدار چاپی تک لایه، برد مدار چاپی دولایه  و... می باشد.
                      </p>
        </div>
    </div>
</section>